<p id="notice"><%= notice %></p>

<h1>Msgs</h1>

<table class="table">
  <thead>
    <tr>
      <th>Sender</th>
      <th>Receiver</th>
      <th>Title</th>
      <th>Content</th>
      <th>File</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @msgs.each do |msg| %>
      <tr>
        <td><%= msg.sender.email %></td>
        <td><%= msg.receiver.email %></td>
        <td><%= msg.title %></td>
        <td><%= msg.content %></td>
        <td><% if msg.document.exists? %>
            <a href="<%=msg.document.url%>">download</a>
            <% end%>
        </td>
        <td><%= link_to 'Show', msg %></td>
        <% if msg.sender ==  current_user %>
        <td><%= link_to 'Edit', edit_msg_path(msg) %></td>
        <td><%= link_to 'Destroy', msg, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Msg', new_msg_path %>
