
<% if current_user.partner_info %>
    <% info = current_user.partner_info %>
    
    <img src="<%=info.logo.url%>" alg="logo" style="max-height:200px;width:100%"> 
    <div class="container">
        <div class="text-center">
            <h2 class="text-info"><strong><%= info.name %></strong></h2>
            <div>
                <address>
                    <strong>address:</strong> <span class="glyphicon glyphicon-map-marker"></span><span><%= info.address %> </span><br>
                    <strong>phone: </strong><span><%= info.dienthoai %></span><br>
                    <strong>email: </strong><span><%= info.contact%></span>
                </address>
                
                <button class="btn btn-success btn-block"><span class="fa fa-plus-circle"></span> Follow </button>
                   
            </div>
            
        </div>

    </div>

<%else %>
    cap nhat thong tin 
<%end %>
