<div class="row">
<% if user %>
    <% if user.lecturer_info %>
    <% info = user.lecturer_info %>
    <div class="col-sm-6 col-md-6 col-lg-6">
         <%= image_tag(info.avatar.url(:medium)) %>
          <address>
            <a href="mailto:<%=info.gmail %>"></a><%= info.hoten %><br>
            Visit us at:<br>
            <%= info.diachi%><br>

        </address>

        <div class="hr-text">
            <span>WORK</span>
        </div>
        <address>
            <strong>Email: <strong><a href="mailto:<%=user.email%>" ></a><%= user.email %><br>
        </address>


    </div>
    <div class="col-sm-6 col-md-6 col-lg-6">


           <div class="">

           </div>
           <hr class="opacity-75"/>

           <div class="opacity-75 upcase text-small">Contact information</div>
            <div>
               <h3><%= info.hoten %></h3>
               <address>
                    <span class="glyphicon glyphicon-map-marker">
                    </span><%= info.diachi %><br>
               </address>
           </div>
           <address>

            <div class="wrapper-information">
                <strong>Phone: </strong>
                <span><%= info.dienthoai %></span>
            </div>
            <div class="wrapper-information">
               <strong>Gmail: </strong>
               <span><%= info.gmail%></span>
            </div>

           </address>
           <hr class="opacity-75"/>
           <div class="opacity-75 upcase text-small">base information</div>


           <div class="wrapper-information">
               <strong>Khoa: </strong>
               <span><%= info.khoa %></span>
            </div>




    </div>
    <% else %>
        <h3> vui long them thong tin tai khoan</h3>
    <% end %>


<% else %>

<% end %>
</div>
