<% if user.partner_info %>
    <% info = user.partner_info %>
    <img src="<%=info.logo.url%>" class="rounded" alg="logo" style="max-height:200px;width:100%">
    <div class="row">
        <div class="mx-auto">
            <h2 class="text-info"><strong><%= info.name %></strong></h2>
            <div>
                <address>
                    <strong>address:</strong> <span class="glyphicon glyphicon-map-marker"></span><span><%= info.address %> </span><br>
                    <strong>phone: </strong><span><%= info.dienthoai %></span><br>
                    <strong>email: </strong><span><%= info.contact%></span>
                </address>

                <%if current_user !=user%>

                    <%= render "/users/follow_form" %>

                <% end%>

            </div>

        </div>

    </div>

<%else %>
    cap nhat thong tin
<%end %>
