<div class="col-sm-10 col-sm-offset-1">
<%= form_for @info,url: {:action => "update" } do |f| %>


      <div class="form-group row">
      <%=f.label :hoten,class:"col-form-label col-sm-2" %>
      <div class="col-sm-10">

        <%= f.text_field :hoten,type: "email", class:"form-control",placeholder: "ho ten" %>
      </div>
    </div>
    <div class="form-group row">
      <%=f.label :khoa,class:"col-form-label col-sm-2" %>
      <div class="col-sm-10">

        <%= f.text_field :khoa,type: "email", class:"form-control",placeholder: "khoa" %>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2" for="email">Dia chi:</label>
      <div class="col-sm-10">
        <%= f.text_field :gmail,type: "email", class:"form-control",placeholder: "Dia chi" %>
      </div>
    </div>
   <div class="form-group">
      <label class="control-label col-sm-2" for="email">Gmail:</label>
      <div class="col-sm-10">
        <%= f.email_field :gmail,type: "email", class:"form-control",placeholder: "Enter email" %>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="email">Dien Thoai:</label>
      <div class="col-sm-10">

        <%= f.text_field :dienthoai,type: "text", class:"form-control",placeholder: "Enter phone number" %>
      </div>
    </div>




     <div class="form-group row">
      <%=f.label :ghichu,class:"col-form-label col-sm-2" %>
      <div class="col-sm-10">

        <%= f.text_field :ghichu,type: "text", class:"form-control",placeholder: "ghi chu" %>
      </div>
    </div>

    <div class="form-group row">
      <%=f.label :avatar,class:"col-form-label col-sm-2" %>
      <div class="col-sm-10">

        <%= f.file_field :avatar %>
      </div>
    </div>
    <div class="form-group row">

      <div class="col-sm-10 offset-2">

        <%= f.button :submit,class:"btn btn-outline-primary" %>

      </div>
    </div>
<%end%>
</div>
