
        


<div class="row">

<div class="col-md-8 col-md-offset-2">
    
    <h1>Create post</h1>
    
    <%= form_for(@thuctap) do |f| %>
        
        <%= f.hidden_field :partner_info_id , value: current_user.partner_info.id  %>
        <div class="form-group ">
            <%= f.label :title %>
            <%= f.text_field :title,type: "text", class:"form-control",placeholder: "title" %>
        </div>
        
        <div class="form-group ">
            <%=f.label :address %>
            <%= f.text_field :address,type: "text", class:"form-control",placeholder: "address" %>
    
        </div>

        <div class="form-group ">
            <%=f.label :tag %>
            <%= f.text_field :tag,type: "text", class:"form-control",placeholder: "tags" %>
           
        </div>
        
        <div class="form-group">
            <%=f.label :content%>
            <%= f.text_area :content,rows:5,type: "text", class:"form-control",placeholder: "content" %>
        </div>
        <!--
        <div class="form-group">
            <p><span class="require">*</span> - required fields</p>
        </div>
        -->
        <div class="form-group">
                <%= f.datetime_select :endtime, default: 10.days.from_now,discard_hour: true %>
        </div>

        
        <div class="form-group">
            <%= f.button :submit %>
           
        </div>
        
    <% end %>
</div>

</div>
