<div class="container">
<p id="notice"><%= notice %></p>

<p>
  <strong>Partner:</strong>
  <%= @thuctap.partner_info_id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @thuctap.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @thuctap.content %>
</p>

<p>
  <strong>Address:</strong>
  <%= @thuctap.address %>
</p>

<p>
  <strong>Tag:</strong>
  <%= @thuctap.tag %>
</p>

<p>
  <strong>Endtime:</strong>
  <%= @thuctap.endtime %>
</p>

<%= link_to 'Edit', edit_thuctap_path(@thuctap) %> |
<%= link_to 'Back', thuctaps_path %>

</div>
