
<div class="row">

     <div class="col-sm-4 mx-auto">
     <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

        <h2>Please Login</h2>
        <hr>

        <div class="form-group">
        	<%= f.label :email, "your email" %>
            <%= f.email_field :email,class: "form-control",placeholder: "Email",required:true %>
        </div> <!-- form-group// -->
        <div class="form-group">
        	<%= link_to "Forgot your password?", new_password_path(resource_name),class:"float-right" %>
        	<%= f.label :password, "password" %>
            <%= f.password_field :password, class: "form-control", placeholder: "********",required:true %>
        </div> <!-- form-group// -->
        <div class="form-group">
        <div class="checkbox">
          <label> <%= f.check_box :remember_me %> Remeber me </label>
        </div> <!-- checkbox .// -->
        </div> <!-- form-group// -->
        <div class="form-group">
            <%= f.submit "Log in" ,class: "btn btn-block btn-primary" %>
        </div> <!-- form-group// -->
    <% end%>

    </div>
</div>
