
<ul class="navbar-nav mx-auto">
    <!-- custom link ------------>

    <% if current_user %>
        <% if current_user.has_role? :partner %>
             <li class="nav-item">
                <a class="nav-link" href="/partner/<%= current_user.id %>/thuctap" title="danh sách thực tp">
                    <span class="fa fa-list"></span> danh sách
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="<%= new_thuctap_path %>" title="tao tin tuyển dụng">
                    <span class="fa fa-plus"></span> tạo tin
                </a>
            </li>
        <% elsif current_user.has_role? :student %>

        <% elsif current_user.has_role? :lecturer %>

        <%end%>
    <% end %>


    <!-------- end custom link -->

   
    <% if current_user %>
    
   
    
    
    <li class="dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="true">
            <% if get_info current_user %>
                <% avatar= get_avatar current_user %>
                <img class="rounded-circle" style="width:25px;height:25px" src="<%= avatar.url(:thumb) %>" alt="avatar" title="avatar">
            <% else %>
                avatar
            <% end %>
        </a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="/myprofile">trang cá nhân</a>
            <a class="dropdown-item" href="/update_info">cập nhật tài khoản</a>
            <%= link_to "đổi mật khẩu", edit_user_registration_path,:class=>"dropdown-item" %>
            <a class="divider"></a>
            <%= link_to "đăng xuất", destroy_user_session_path,method: :delete,:class=>"dropdown-item"  %>
        </div>
       
            
        
    </li>
    <% else  %>
    <li class="nav-item">
        
         <a class="nav-link" href="<%= new_user_session_path %>">đăng nhập</a>
        
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="true">user</a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="<%= new_user_session_path %>">đăng nhập</a>
        </div>
    </li>
    <% end %>
    
</ul>


